html, body {
    overflow-x: hidden;
    margin: 0;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
    display: flex;
    height: 100vh;
}

.info {
    flex: 1;
    margin: 40vh auto;
}

.info .container {
    width: 30rem;
    float: right;
}

.info .title {
    color: #363636;
    font-weight: 600;
    font-size: 3rem;
    word-break: break-word;
    margin-bottom: 0;
}

.info .subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    word-break: break-word;
    margin-top: 0.4rem;
}

.info .links {
    display: flex;
    justify-content: space-between;
    padding-right: 1.3rem;
}

.info .links a {
    color: #000;
}

.photo {
    flex: 1;
    display: flex;
    align-items: flex-end;
    z-index: -1;
}

.photo > img {
    vertical-align: center;
    height: 95vh;
}

@media screen and (max-width: 1350px) and (min-height: 500px) and (min-width: 710px) {
    .info .container {
        margin-right: -7rem;
    }
}

@media screen and (max-width: 1230px) and (min-height: 770px) and (min-width: 710px) {
    .info .container {
        margin-right: -13rem;
    }
}

@media screen and (max-width: 980px) and (min-width: 710px) {
    .header {
        margin-right: -10rem;
    }
}

@media screen and (max-width: 860px) and (min-width: 710px) {
    .header {
        margin-right: -17rem;
    }
}

@media screen and (max-width: 730px) and (min-width: 710px) {
    .info .container {
        zoom: 0.8;
        width: 32rem;
        margin-right: -17rem;
    }
}

@media screen and (max-width: 710px) {
    .header {
        flex-direction: column;
    }

    .info {
        margin: 2rem auto;
        zoom: 0.75;
    }

    .info .subtitle {
        font-size: 1.18rem;
    }

    .photo {
        display: block;
    }

    .photo img {
        width: 130%;
        margin-left: -15%;
        height: auto;
        vertical-align: bottom;
    }
}